
<div class="large-3 small-6 columns" id="search">
  <%= simple_form_for @search do |f|%>
    <%= f.input :search, label:'Artist or Band'%>
    <%= f.input :search_date, label: 'When?' %>
    <%= f.input :location, placeholder: 'Where?' %>
    <%= f.button :submit %>
  <% end %>
</div>

<div class="large-9 small-12 columns" id="map">
</div>

<div class="large-3 small-6 columns" id="results">
</div>
