
<% if params[:performer].present? %>
  <div class="large-12 small-12 columns" id="results">
    <% if @concerts.results.none? %>
      <h3> Sorry no events found, pls try again </h3>
    <% else %>
      <%= render partial: 'chartography/display' %>
    <% end %>
  </div>
<% end %>

<div class="large-9 small-12 columns" id="map"></div>

<div class="large-3 small-12 columns" id="examples">
    <h3>Examples</h3>
    <ul>
      <li><%= link_to "Beyonce", root_path(performer: "beyonce")%></li>
      <li><%= link_to "Willie Nelson", root_path(performer: "willie nelson")%></li>
      <li><%= link_to "Megadeath", root_path(performer: "megadeath")%></li>
      <li><%= link_to "Oxmo Puccino", root_path(performer: "Oxmo Puccino")%></li>
      <li><%= link_to "Tontons", root_path(performer: "Tontons")%></li>
    </ul>
</div>

<div class="large-3 small-12 colums" id="spotify">
  <iframe src="https://embed.spotify.com/?uri=spotify:track:5EmCpD8tUj78VW3kgaEjME"
  width="300" height="380" frameborder="0" allowtransparency="true">
  </iframe>
</div>

<% if @concerts.results.any? %>
  <script>

  $(window).ready(function(){

    <% @concerts.results.each do |result| %>
      L.marker([ <%= result.location.lat %>, <%= result.location.lng %>]).addTo(window.map)
      .bindPopup('<%= link_to "#{j result.display_name}", "#{result.uri}" %>')
      .openPopup();
    <% end %>

  });

  </script>
<% end %>
